.content {
    display: flex;
    justify-content: left;
    align-items: left;
    background: #121212;
    padding: 2rem;
}

#SpotifyLogo {
    width: 130px;
    height: 42px;
    margin-left: 1rem;
}