.playlist_content {
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-right: 1%;
    margin-left: 21%;
    flex-direction: column;
    cursor: default;
    background: linear-gradient(to bottom, #169141, #222222, #121212, #191414);
    margin-top: 1rem;
    border-radius: 0.5%;
    overflow-y: auto;
}

.playlist_content h1 {
    font-size: 2rem;
    margin-left: 2rem;
}


