.footer {
    width: 100%;
    height: 80px;
    background-color: #282828;
    position: fixed;
    width: 100%;
    z-index: 3;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CurrentSong {
    display: flex;
    margin-left: 1rem;
    cursor: pointer;
    width: 20%;
}

.album {
    width: 60px;
    height: 60px;
}


.NameSong h2 {
    font-size: 0.8rem;
    margin-left: 1rem !important;
    margin-top: 0.8rem !important;
    margin: 0;
    white-space: nowrap;
    cursor: pointer;
    color: white;
}

.artist p {
    font-size: 0.8rem;
    margin-left: 1rem !important;
    margin: 0;
    margin-top: 0.2rem;
    cursor: pointer;
}

.artist p:hover, .NameSong h2:hover {
    text-decoration: underline;
}

.artist p:hover {
    color: white;
}

.likesong {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5rem;
    padding: 0;
}

.likesong i {
    cursor: pointer;
    font-size: 1.5rem;
}

.likesong i:hover {
    color: #1DB954;
}


.player {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 40%;
}

.btn_play {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: .1s ease-in-out all;
    font-size: 2rem;
}


.btn_play:hover {
    transform: scale(1.1);
}

.btn_skip_next {
    background-color: transparent;
    border: none;
    transition: ease-in-out;
    cursor: pointer;
    font-size: 2rem;
    padding: 0.2;
}

.btn_skip_next :hover {
    color: white;
}

.btn_skip_previous {
    background-color: transparent;
    border: none;
    transition: .1s ease-in-out;
    cursor: pointer;
    font-size: 2rem;
    padding: 0.2;
}

.btn_skip_previous :hover {
    color: white;
}

.playerbuttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-left: 2.5rem;
    position: relative;
}

.current-time {
    margin-top: 1rem;
    align-items: center;
    position: absolute;
    top: 22px;
    cursor: default;
}

.total-time {
    cursor: default;
    position: absolute;
    top: 38px;
    margin-left: 0.2rem;
}

.progressbar {
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 4px; 
    background-color: #f4f4f4; 
    border-radius: 5px; 
    outline: none; 
    transition: .1s ease-in-out all;
    position: relative;
    margin-top: 1rem;
    margin-left: 2.4rem;
}

.progressbar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0px; 
    height: 0px;
    opacity: 0;
    background-color: #1db954; 
    border-radius: 50%; 
    cursor: pointer; 
}

.progressbar:hover::-webkit-slider-thumb {
    width: 12px; 
    height: 12px; 
    opacity: 1;
    background-color: #1db954; 
    border-radius: 50%; 
    cursor: pointer; 
}

.progressbar::-moz-range-thumb {
    width: 12px;
    height: 12px; 
    background-color: #f4f4f4; 
    border-radius: 50%; 
    cursor: pointer; 
}

.volume {
    margin-right: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn_volume {
    font-size: 24px;
    cursor: pointer;
}

.btn_volume:hover {
    transform: scale(1.1);
    transition: all .1s ease-in-out;
}

.volume-slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderprogress {
    -webkit-appearance: none;
    appearance: none;
    font-size: 0.7rem;
    appearance: none;
    height: 4px; 
    background-color: #f4f4f4; 
    border-radius: 5px; 
    outline: none; 
    transition: .1s ease-in-out all;
}

.sliderprogress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0px; 
    height: 0px;
    opacity: 0;
    background-color: #1db954; 
}

.sliderprogress:hover::-webkit-slider-thumb {
    width: 12px; 
    height: 12px; 
    opacity: 1;
    background-color: #1db954; 
    border-radius: 50%; 
    cursor: pointer; 
}

.sliderprogress::-moz-range-thumb{
    width: 12px;
    height: 12px; 
    background-color: #f4f4f4; 
    border-radius: 50%; 
    cursor: pointer; 
}




@media (max-width:742px) {
    .CurrentSong {
        display: none;
    }
    .player {
        display: none;
    }
}