.footer {
    width: 100%;
    height: 100px;
    background-color: #282828;
    position: fixed;
    width: 100%;
    z-index: 3;
    bottom: 0;
    display: flex;
    align-items: center;
}

.CurrentSong {
    display: flex;
    margin-top: 0.5rem;
    margin-left: 2rem;
    cursor: pointer;
    width: 20%;
}

.album {
    width: 70px;
    height: 70px;
}


.NameSong h2 {
    font-size: 0.8rem;
    margin-left: 1rem !important;
    margin-top: 0.8rem !important;
    margin: 0;
    white-space: nowrap;
    cursor: pointer;
    color: white;
}

.artist p {
    font-size: 0.8rem;
    margin-left: 1rem !important;
    margin: 0;
    margin-top: 0.2rem;
    cursor: pointer;
}

.artist p:hover, .NameSong h2:hover {
    text-decoration: underline;
}

.artist p:hover {
    color: white;
}

.likesong {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5rem;
    padding: 0;
}

.likesong i {
    cursor: pointer;
    font-size: 1.5rem;
}

.likesong i:hover {
    color: #1DB954;
}


.player {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 22%;
    margin-top: 19%;
    margin-bottom: 18rem;
    flex-direction: column;
}

.btn_play {
    background-color: white;
    border: none;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: .1s ease-in-out all;
}

.btn_play:hover {
    transform: scale(1.1);
}

.btn_play i {
    font-size: 1.5rem;
    color: black;
    margin-left: 0.2rem;
}

.btn_skip_next  {
    display: flex;
    background-color: transparent;
    border: none;
    margin-left: 2rem;
    transition: ease-in-out;
    cursor: pointer;
}

.btn_skip_next i:hover {
    color: white;
}

.btn_skip_next i {
    font-size: 2rem;
}

.btn_skip_previous {
    background-color: transparent;
    border: none;
    margin-right: 2rem;
    transition: .1s ease-in-out;
    cursor: pointer;
}

.btn_skip_previous i {
    font-size: 2rem;
}

.btn_skip_previous i:hover {
    color: white;
}

.playerbuttons {
    display: flex;
}

.currentTime {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    align-items: center;
}

.progressbar {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px; 
    background-color: #f4f4f4; 
    border-radius: 5px; 
    outline: none; 
    transition: .1s ease-in-out all;
}

.progressbar:hover {
    background-color: #1db954;
}

.progressbar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; 
    height: 20px; 
    background-color: #1db954; 
    border-radius: 50%; 
    cursor: pointer; 
}

.progressbar::-moz-range-thumb {
    width: 10px;
    height: 10px; 
    background-color: #f4f4f4; 
    border-radius: 50%; 
    cursor: pointer; 
}

.progressbar::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #1db954 0%, #1db954 calc(((var(--value) - min) / (max - min)) * 100%));
}

.progressbar::-moz-range-track {
    background: linear-gradient(to right, #1db954 0%, #1db954 calc(((var(--value) - min) / (max - min)) * 100%));
}
