.search_box {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    position: absolute;
    margin-left: 8rem;
    margin-top: 1.2rem;
}

.search_box_container {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
}

.input_box_search {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input_box_search input::placeholder {
    font-size: 1rem;
}

.search_icon_button {
    display: flex;
    position: absolute;
    border: none;
    background: transparent;
    margin-bottom: 1rem;
    margin-left: 0.4rem;
    margin-top: 0.7rem;
}

.search_icon { 
    font-size: 1.5rem;
}

.search_del_icon {
    display: flex;
    position: absolute;
    margin-top: 0.9rem;
    margin-left: 16rem;
    font-size: 1.2rem;
    color: gray;
}

.search_icon:hover, .search_del_icon:hover {
    transform: scale(1.1);
    transition: all .1s ease-in-out;
    color: white;
    cursor: pointer;
}

.input_box_search input {
    border: none;
    background-color: #222222;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 40px;
    padding-left: 2.5rem;
    width: 18rem;
}

.input_box_search input:focus {
    outline-color: white; 
    outline-style: solid; 
    outline-width: 2px; 
}
