.sidebar {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    width: 290px;
    height: 100%;
    display: block;
    position: fixed;
    z-index: 2;
    margin: 0rem 1rem 0rem 1rem;
    border-radius: 3%;
}

.sidebar_options {
    background-color: #222222;
    margin-bottom: 0.5rem;
    border-radius: 3%;
}

.sidebar_middle_options {
    background-color: #222222;
    height: 62%;
    border-radius: 3%;
    display: flex;
    justify-content: top;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding-top: 0.5rem;
}


.SpotifyLogo {
    padding: 1rem 1rem 0.5rem 1rem;
    padding-right: 6rem;
    cursor: pointer;
}

.menu_options {
    display: flex;
    font-size: 1.5rem;
    width: 281px;
    height: 150px;
    flex-direction: column;
    padding-left: 1.2rem;
}

.options {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    text-align: center;
}

.menu_options i:hover, .textoptions:hover {
    color: white;
}

.textoptions {
    font-size: 1rem;
    padding-left: 0.2rem;
    margin: 0.7rem;
}

.middle_options {
    padding-left: 1.2rem;
    padding-bottom: 0.5rem;
}

.options_middle {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    text-align: center;
}

.PlaylistLink {
    width: 28px;
    height: 28px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PlaylistLink i {
    font-size: 1.2rem;
    color: black;
}

.LikedLink {
    background: linear-gradient(#4000F4, #C0ECD7);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LikedLink i {
    font-size: 0.8rem;
}

.PodcastLogo {
    background-color: #004638;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PodcastLogo i {
    font-size: 1.5rem;
    color: #159643;
}


.playlists {
    font-size: 2rem;
    width: 281px;
    height: auto;
    flex-direction: column;
    padding-left: 1.2rem;
}

.divisor {
    margin-right: 20px;
    border-top: 1px solid gray;
    margin-left: 20px;
}


.options2 {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
}

.textplaylist {
    font-size: 1rem;
    margin-bottom: 0;
}

.textplaylist:hover {
    color: white;
}

.btn_add_playlist {
    font-size: 2rem;
    position: absolute;
    margin-left: 80%;
}

.btn_add_playlist:hover {
    color: white;
    transform: scale(1.1);
    transition: all .1s ease-in-out;
    cursor: pointer;
}   
