* {
    border: none;
    box-sizing: border-box;
}

.main_container_login {
    background-color: #222222;
}

.login_container_form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: #121212;
    border-radius: 8px;
    margin-top: 2rem;
    width: 850px;
    margin-left: 23%;
}
.title_auth {
    font-size: 2rem;
    margin-top: 2rem;
    cursor: default;
}

.loginform {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 10rem;
}

.input_box {
    width: 100%;
    height: 10%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input_box input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    height: 10%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 8px;
}

.input_box input::placeholder {
    font-size: 1rem;
}

.loginform h4 {
    text-align: left;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.hideshow {
    border: none;
    background: transparent;
    font-size: 2rem;
    display: flex;
    margin-left: 50%;
    margin-top: 2.4rem;
    position: absolute;
    cursor: pointer;
    transition: .1s ease-in-out all smooth;
}

.hideshow:hover {
    transform: scale(1.1);
}

.hideshow i {
    color:  gray;
}

.hideshow i:hover {
    color: white;
}

.btn_submit {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1px solid #1ed760;
    background-color: #1ed760;
    border-radius: 50px;
    padding-left: 6rem;
    padding-right: 6rem;
    margin-top: 2rem;
}

.btn_submit h3 {
    color: black;
}

.btn_submit:hover {
    transform: scale(1.1);
    transition: all .1s ease-in-out smooth;
    cursor: pointer;
}

.recovery {
    margin-top: 2rem;
}

.recovery a {
    color: white;
    text-decoration: underline;
}

.registro_link {
    margin-top: 0.5rem;
}

.registro_link a {
    color: white;
    font-size: 1rem;
    text-decoration: underline;
}
.registro_link p {
    cursor: default;
}

.recovery a:hover, .registro_link a:hover {
    color: #1ed760;
}